<% title 'Log in' %>

<div id="login_page">
  <div id="rem_login">
    <%= form_tag sessions_url do %>
      <div class="field">
        <%= r_label :name_or_email, 'Username or email' %>
        <%= r_field :text, :name_or_email %>
      </div>
      <div class="field">
        <%= r_label :password %>
        <%= r_field :password, :password %>
      </div>
      <%= link_to "Forgotten password?", new_password_reset_url %>
      <div class="actions"><%= r_submit 'Log in' %></div>
    <% end %>
  </div>
  <div id="others_login">
    <div id="description">
      You can alternatively log in by using the account you may have
      in the services shown below.
    </div>
    <ul id="others">
      <li><a href="/auth/twitter">
        <%= image_tag 'twitter.png', height: '50', id: 'twitter_logo' %>
      </a></li>
      <li><a href="/auth/google">
        <%= image_tag 'google.png', height: '50', id: 'google_logo' %>
      </a></li>
    </ul>
  </div>
</div>
