<div id="login_container">
  <div id="topnav" class="topnav"> Have an account? <a href="login" class="signin"><span>Sign in</span></a> </div>
  <fieldset id="signin_menu">
    <%= form_tag sessions_path do %>
      <p>
        <%= r_label :name_or_email, 'Username or email' %>
        <%= r_field :text, :name_or_email %>
      </p>
      <p>
        <%= r_label :password %>
        <%= r_field :password, :password %>
      </p>
      <p class="remember">
        <%= r_submit 'Log in' %>
        <%= r_check :remember_me %>
        <%= r_label :remember_me %>
      </p>
      <p><%= link_to _('Forgotten password?'), new_password_reset_path,
      :title => 'Click here if you do not remeber your password', :id => 'password' %></p>
      <p><%= link_to _('Log in by using your Facebook or Twitter accounts.'), login_path,
      :title => 'You can also log in by using your Facebook or Twitter accounts.' %></p>
    <% end %>
  </fieldset>
</div> 
