<a href="/" id="rem">About Rem</a>
<% if current_user %>
  <ul class="hot_top">
    <%= link_to "#{current_user.name}", root_url, class: 'tip', title: 'asd' %>
    <%= link_to 'Profile', "#{current_user.name}" %>
    <%= link_to 'Account Settings', account_path %>
    <%= link_to 'Log out', logout_path %>
  </ul>
<% else %>
  <%= render :template => 'layouts/_login' %>
<% end %>
