<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Rem' %></title>
    <%= stylesheet 'application' %>
    <%= javascript 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render :template => 'layouts/_top' %>
    <div id="main">
      <% flash.each do |key, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{key}", :class => :flashy %>
      <% end %>
      <%= yield %>
    </div>
    <%= render :template => 'layouts/_footer' %>
  </body>
</html>
