<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Rem' %></title>
    <%= stylesheet 'application' %>
    <%= javascript 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <% if current_user.nil? %>
      <%= render :template => 'layouts/_login' %>
    <% end %>
    <div id="main">
      <% if current_user %>
        Logged in as <%= current_user.name %>
        <%= link_to "Log out", logout_path %> |
        <%= link_to "Profile", "#{current_user.name}" %> |
        <%= link_to 'Delete Account', delete_account_path(current_user.id) %>
      <% end %>
      <% flash.each do |key, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{key}", :class => :flashy %>
      <% end %>
      <%= yield %>
    </div>
    <%= render :template => 'layouts/_footer' %>
  </body>
</html>
