
<%= render partial: 'head' %>

<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render partial: 'unfollow' %>
  <% else %>
    <%= render partial: 'follow' %>
  <% end %>
  </div>
<% end %>

<div class="following_stats">
  <div id="following">
  You're following <%= @user.following.count %> users and
  <%= pluralize(@user.route_following.count, 'route') %>
  <%= link_to 'view all &rarr;'.html_safe, following_user_path(@user) %>
  </div>
  <div id="followers">
    <a href="<%= followers_user_path(@user) %>">
      <span id="followers" class="stat">
        <%= pluralize(@user.followers.count, "follower") %>
      </span>
    </a>
  </div>
</div>
