<% title 'Rest API' %>

<h1 class="title">The Rem API</h1>

<div class="api_page">

This describes the resources that make up the official Rem API. If you have
any problems or requests please <%= link_to 'contact', '/contact' %> with us.

As you can see in the top bar above, you can easily navigate through the
API documentation by clicking on the section you wish to visit. Let's show a
bit of info about the API sections:

<ul>
  <li><%= link_to 'API', '/api' %>: This page.</li>
  <li><%= link_to 'Basics', '/api/basics' %>: The most basic methods, ranging
  from showing the information we have about users, routes and places,
  to logging in with an Android app.</li>
  <li><%= link_to 'Routes & Places', '/api/routes_places' %>: All the methods
  related to the creation, modification or deletion of routes and places.</li>
  <li><%= link_to 'Nearby locations', '/api/nearby' %>: All the methods
  that allow the Android app to get the nearby locations (routes/places)
  from a certain point of the map.</li>
</ul>

</div>
