<% title 'Sign Up' %>

<%= form_for @user do |f| %>
  <div class="signup">
    <h1>What are you waiting for?
    <br>
    <em class="join_rem">Join Rem.</em></h1>
    <div class="actions" id="user_submit"><%= r_submit 'Sign up!', 'r_signup' %>
    </div>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <fieldset class="textbox">
    <div class="prompt name">
      <div class="holding" data-fieldname="name">
        <div class="side_tip" id="existing_name">
        </div>
        <span class="holder">Username</span>
        <%= f.text_field :name, { class: 'r_raw_field', value: @name } %>
      </div>
    </div>
    <div class="prompt email">
      <div class="holding" data-fieldname="email">
        <div class="side_tip" id="email_error">
        </div>
        <span class="holder">Email</span>
        <%= f.text_field :email, { class: 'r_raw_field', value: @email } %>
      </div>
    </div>
    <div class="prompt password">
      <div class="holding" data-fieldname="password">
        <span class="holder">Password</span>
        <%= f.password_field :password, { class: 'r_raw_field' } %>
      </div>
    </div>
    <div class="prompt password_confirmation" >
      <div class="holding" data-fieldname="password_confirmation">
        <div class="side_tip" id="password_error">
        </div>
        <span class="holder">Confirm Password</span>
        <%= f.password_field :password_confirmation, { class: 'r_raw_field' } %>
        </div>
      </div>
      <%= r_check :remember_me %>
      <%= r_label :remember_label, 'Keep me logged-in on this computer.' %>
    </div>
  </fieldset>
<% end %>
