

<%= render partial: 'head' %>

<span class="user_title"><%= @shown %></span>

<br><br>

<% if @shown == 'Followers' %>
  <% unless @users.empty? %>
    <%= render @users %>
  <% end %>
<% else %>
  <% original = @user %>

  <div class="show_following">
    <div class="following_users">
      <% if current_user.nil? || !current_user?(@user) %>
        <span class="subtitle"><%= @user.name %> is following</span>
      <% else %>
        <span class="subtitle">You're following</span>
      <% end %>
      <br><br>
      <% unless @users.empty? %>
        <%= render @users %>
      <% end %>
    </div>
    <div class="following_routes">
      <% if current_user.nil? || !current_user?(original) %>
        <span class="subtitle"><%= original.name %> is watching</span>
      <% else %>
        <span class="subtitle">Your watched routes</span>
      <% end %>
      <br><br>
      <% unless @routes.empty? %>
        <% @routes.each do |r| %>
          <a href=<%= "/#{r.user.name}/#{r.id}" %>><%= r.user.name %>/<b><%= r.name %></b></a>
          <div class="stretch"></div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
