<% title 'Log in' %>

<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= r_label :name_or_email, 'Username or email' %>
    <%= r_field :text, :name_or_email %>
  </div>
  <div class="field">
    <%= r_label :password %>
    <%= r_field :password, :password %>
  </div>
  <p><%= link_to "forgotten password?", new_password_reset_path %></p>
  <div class="actions"><%= r_submit 'Log in' %></div>
<% end %>
