
<% if route.protected %>
<li class="protected route">
<% else %>
<li class="public route">
<% end %>
  <ul class="route-stats">
    <li class="watchers" title="Watchers">
      <%= link_to route.followers.count, "/404" %>
    </li>
    <% if route.protected %>
      <%= image_tag 'protected.png', height: '16', class: 'protection', title: 'Protected' %>
    <% else %>
      <%= image_tag 'public.png', height: '16', class: 'protection', title: 'Public' %>
    <% end %>
  </ul>
  <h3>
    <%= link_to "#{route.name}", "/#{current_user.name}/#{route.id}" %>
  </h3>

  <div class="route_body">
    <% if route.desc.nil? || route.desc.empty? %>
      <p>No description was given.</p>
    <% else %>
      <p><%= route.desc %></p>
    <% end %>
  </div>
</li>
