Let's show some info about the route <b><%= @route.name %></b>:

<% @rejects = ["created_at", "updated_at"] %>
<% @columns = Route.column_names - @rejects %>
<% @columns.each_with_index do |c, i| %>
  <p id="p<%= i %>" class="check">
    <span class="title"><b><%= c %></b>:</span>
    <span class="value"><%= @route.send(c) %></span>
  </p>
<% end %>

<br>

Some places on this route:
<% @places = Place.find :all, :conditions => ['route_id=?', @route.id] %>
<% @places.each do |p| %>
  <%= link_to p.name, edit_place_path(p.id) %>
<% end %>

<br>
<br>

<%= link_to 'Add places', new_place_path %>

<br>
<br>

<%= link_to 'Delete Route', delete_route_path(@route.id) %>
