
<br>

<% present current_user do |user_presenter| %>
  <div id="account">
    <dl>
      <dt>Username</dt>
      <dd><%= user_presenter.name %></dd>
      <dt>Full name</dt>
      <dd><%= user_presenter.full_name %></dd>
      <dt>Member since</dt>
      <dd><%= user_presenter.member_since %></dd>
      <dt>Website</dt>
      <dd><%= user_presenter.website %></dd>
      <dt>Twitter account</dt>
      <dd><%= user_presenter.twitter %></dd>
      <dt>Bio</dt>
      <dd><%= user_presenter.bio %></dd>
    </dl>
  </div>
<% end %>

<br>

<%= link_to 'Delete Account', delete_account_path(current_user.id) %>
