Let's show some info about the place <b><%= @place.name %></b>:

<%= gmaps4rails(@json) %>

<% @rejects = ["created_at", "updated_at"] %>
<% @columns = Place.column_names - @rejects %>
<% @columns.each_with_index do |c, i| %>
  <p id="p<%= i %>" class="check">
    <span class="title"><b><%= c %></b>:</span>
    <span class="value"><%= @place.send(c) %></span>
  </p>
<% end %>

<br>

<%= button_to 'Delete Place', place_path(@place.id), method: :delete, class: 'r_submit' %>
