<% title 'New place' %>

<% if @place.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @place.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div id="search_map">
  <div id="map"></div>
  <div class="holding">
    <span class="holder">Search and have fun</span>
    <%= text_field_tag :addresspicker_map, nil %>
  </div>
</div>
<%= form_for @place do |f| %>
  <fieldset class="textbox">
    <div class="prompt name">
      <%= r_label :name_label, 'Place name' %>
      <%= f.text_field :name, { class: 'r_text_field' } %>
    </div>
    <div class="prompt address">
      <%= r_label :address_label, 'Address' %>
      <%= f.text_field :address, { class: 'r_text_field', id: 'addr' } %>
    </div>
    <div class="prompt locality">
      <%= r_label :locality_label, 'Locality' %>
      <%= f.text_field :locality, { class: 'r_text_field', id: 'locality' } %>
    </div>
    <div class="prompt country">
      <%= r_label :country_label, 'Country' %>
      <%= f.text_field :country, { class: 'r_text_field', id: 'country' } %>
    </div>
    <div class="prompt latitude">
      <%= r_label :latitude_label, 'Latitude' %>
      <%= f.text_field :latitude, { class: 'r_text_field', id: 'lat' } %>
    </div>
    <div class="prompt longitude">
      <%= r_label :longitude_label, 'Longitude' %>
      <%= f.text_field :longitude, { class: 'r_text_field', id: 'lng' } %>
    </div>
    <div class="prompt desc">
      <%= r_label :desc_label, 'Description' %>
      <span id="desc_adv">(About this place in less than 160 chars.)</span>
      <%= f.text_area :desc, { class: 'r_text_area' } %>
    </div>
    <%= r_label :combo_routes, 'Add to the following route:' %>
    <% list = Route.all(:conditions => ['user_id=?', current_user.id]).map { |o| [o.name, o.id] } %>
    <%= f.select(:route_id, list) %>
    <%= r_submit 'Create place' %>
  </fieldset>
<% end %> 
