
<div class="admin password">
  <strong>Change your Password</strong>
  <%= form_tag auth_change_path, :method => :post do %>
    <%= r_label :old_password, 'Old Password' %>
    <%= password_field_tag :old_password, nil, { class: 'r_raw_field' } %>
    <%= r_label :new_password, 'Enter a new password and confirm it' %>
    <div class="password_pair">
      <%= password_field_tag 'user[password]' %>
      <%= password_field_tag 'user[password_confirmation]' %>
      <%= r_submit _('Update Password'), 'r_submit' %>
    </div>
  <% end %>
  <br>
  <%= r_label :delete, 'Delete Account' %>
  <%= button_to 'Delete Account', user_path(current_user.id), method: :delete, class: 'r_submit' %>
  <br>
  <br>
  <%= r_label :label_username, 'Change username' %>
  <%= r_field :text, :change_username, nil, up.name %>
</div> 
