
<div class="activity">

<div class="avatar">
  <%= get_avatar_of activity.user, 32 %>
</div>

<% mention = activity.mention %>
<% to = '' %>
<% to, ment = case mention[0] %>
<% when 'u'; [User.find(mention[1..-1]), 'user'] %>
<% when 'r'; [Route.find(mention[1..-1]), 'route'] %>
<% when 'p'; [Place.find(mention[1..-1]), 'place'] %>
<% end %>

<div class="activity_desc">
  <% name = activity.user.name %>
  <a href=<%="/#{name}"%>><%= name %></a> <%= activity.action %> <%= ment %>
  <% case mention[0] %>
  <% when 'u' %>
    <a href=<%="/#{to.name}"%>><%= to.name %></a>.
  <% when 'r' %>
    <a href=<%="/#{name}/#{to.id}"%>><%= to.name %></a>.
  <% when 'p' %>
    <a href=<%="/places/id/#{to.id}"%>><%= to.name %></a>.
  <% end %>
  <div class="stretch"></div>
</div>

</div>
