<div id="top_bar">
  <div id="top_sep">
    <a href="/" id="rem">About Rem</a>
    <% if current_controller?('api') %>
      <ul id="api_top">
        <li><%= link_to 'API:', '/api' %></li>
        <li><%= link_to 'Basics', '/api/basics' %></li>
        <li><%= link_to 'Routes & Places', '/api/routes_places' %></li>
        <li><%= link_to 'Nearby locations', '/api/nearby' %></li>
      </ul>
    <% end %>
    <% if current_user %>
      <div id="top_right">
        <div class="avatar">
          <a href="/">
            <%= get_avatar_of current_user %>
          </a>
        </div>
        <ul id="hot_top">
          <li><%= link_to "#{current_user.name}", root_url %></li>
          <li><%= link_to 'Profile', "/#{current_user.name}" %></li>
          <li><%= link_to 'Account Settings', account_url %></li>
          <li><%= link_to 'Log out', logout_url %></li>
        </ul>
      </div>
        <div id="top_search">
          <form accept-charset="UTF-8" action="/search" method="post">
            <span>Search . . .</span>
            <%= r_field :text, :search, 'r_raw_field' %>
          </form>
        </div>
    <% else %>
      <%= render :template => 'layouts/_login' %>
    <% end %>
  </div>
</div>
